page {
    background-color: #f2f2f2;
}

.zhezhao {
    width     : 100%;
    height    : 1700rpx;
    position  : absolute;
    z-index   : 0;
    top       : 0;
    background: -webkit-linear-gradient(rgb(12, 202, 128), rgb(245, 245, 245));

}

.body {
    position: absolute;
    width   : 100%;
    height  : auto;
}


.orderlist {
    margin-top    : 20rpx;
    width         : 100%;
    display       : flex;
    flex-direction: column;

    .scancode {
        margin-left     : 10%;
        margin-top      : 25rpx;
        margin-bottom   : 25rpx;
        width           : 80%;
        height          : 200rpx;
        background-color: white;
        border-radius   : 25rpx;
        display         : flex;
        flex-direction  : row;
        justify-content : center;
        align-items     : center;
        font-size       : 30rpx;
        box-shadow      : 0px 0px 3px rgb(125, 125, 125);

        .shibie {
            width          : 300rpx;
            margin         : 20rpx;
            display        : flex;
            flex-direction : row;
            justify-content: center;
            align-items    : center;

            .shibie_img {
                margin-right    : 25rpx;
                border-radius   : 10rpx;
                overflow        : hidden;
                background-color: rgb(245, 245, 245);
                width           : 75rpx;
                height          : 75rpx;

                .shibie_img_ {
                    width : 75rpx;
                    height: 75rpx;
                }
            }

            .shibie_text {
                .shibie_text_one {
                    font-size: 30rpx;
                }

                .shibie_text_two {
                    font-size: 25rpx;
                    opacity  : 0.7;
                }
            }
        }
    }

    .orderitem {
        display         : flex;
        flex-direction  : column;
        height          : 270rpx;
        width           : 90%;
        margin-left     : 5%;
        margin-top      : 20rpx;
        background-color: white;
        border-radius   : 20rpx;

        .orderitem_product {
            margin-top    : 50rpx;
            margin-left   : 25rpx;
            margin-right  : 25rpx;
            padding-bottom: 25rpx;
            display       : flex;
            flex-direction: row;
            border-bottom : 5rpx solid rgb(235, 235, 235);

            .orderitem_base {

                .orderitem_product_name {
                    font-size: 40rpx;
                }

                .orderitem_product_pid {
                    margin-top: 15rpx;
                    font-size : 30rpx;
                    opacity   : 0.5;
                }
            }

            .orderitem_other {
                margin-left: 50%;

                .orderitem_other_ptotalprice {
                    margin-top: 10rpx;
                    font-size : 30rpx;
                }

                .orderitem_other_pnum {
                    margin-top: 10rpx;
                    font-size : 30rpx;
                    opacity   : 0.5;
                }
            }
        }

        .itembutton {
            display       : flex;
            flex-direction: row;
            margin-left   : 70%;
            margin-top    : 20rpx;
            margin-bottom : 20rpx;

            .delbutton {
                font-size: 30rpx;
                width    : 100rpx;

            }

            .revbutton {
                font-size: 30rpx;
                width    : 100rpx;
            }
        }
    }
}


.submitbutton {
    margin-left     : 25%;
    margin-top      : 25rpx;
    margin-bottom   : 25rpx;
    width           : 50%;
    height          : 75rpx;
    background-color: white;
    border-radius   : 150rpx;
    display         : flex;
    justify-content : center;
    align-items     : center;
    font-size       : 30rpx;
    letter-spacing  : 2rpx;
    box-shadow      : 0px 0px 3px rgb(125, 125, 125);

}