page {
    background-color: rgb(245, 245, 245);
}

.zhezhao {
    width     : 100%;
    height    : 1700rpx;
    position  : absolute;
    z-index   : 0;
    top       : 0;
    background: -webkit-linear-gradient(rgb(12, 202, 128), rgb(245, 245, 245));

}

.bodye {
    position: absolute;
    width   : 100%;
    height  : auto;
}

.head {
    width           : 95%;
    background-color: white;
    margin-left     : 2.5%;
    margin-top      : 20rpx;
    border-radius   : 15rpx;

    .headtext {
        font-size     : 30rpx;
        padding-top   : 20rpx;
        padding-left  : 20rpx;
        border-bottom : 2rpx solid rgb(245, 245, 245);
        padding-bottom: 15rpx;
    }

    .headnum {
        display        : flex;
        flex-direction : row;
        justify-content: center;
        align-items    : center;
        font-size      : 30rpx;
        margin-top     : 20rpx;
        margin-left    : 20rpx;

        .headnum_ {
            display        : flex;
            flex-direction : row;
            justify-content: center;
            align-items    : center;
            border-radius  : 15rpx;
            width          : 33%;
            color          : black;

            .headnum_right {
                display       : flex;
                flex-direction: column;
                align-items   : center;


            }


        }
    }
}

.body {
    width           : 95%;
    background-color: white;
    margin-left     : 2.5%;
    margin-top      : 30rpx;
    border-radius   : 15rpx;

    .body_time {
        display       : flex;
        flex-direction: row;
        align-items   : center;
        font-size     : 30rpx;
        margin-top    : 30rpx;
        height        : 100rpx;
        border-bottom : 2rpx solid rgb(245, 245, 245);

        .time_date {
            padding: 20rpx;
        }

        .timebuttom {
            border-radius: 10rpx;
            text-align   : center;
            padding      : 10rpx;
            margin       : 20rpx;
        }
    }

    .body_num {
        display        : flex;
        flex-direction : row;
        justify-content: center;
        align-items    : center;
        font-size      : 30rpx;
        border-bottom  : 2rpx solid rgb(245, 245, 245);

        text-align: center;

        .body_num_ {
            margin-top     : 30rpx;
            margin-bottom  : 30rpx;
            display        : flex;
            flex-direction : row;
            justify-content: center;
            align-items    : center;
            width          : 25%;
        }

    }
}

.container {
    margin-top      : 30rpx;
    padding         : 0;
    border-radius   : 25rpx;
    overflow        : hidden;
    margin-left     : 2.5%;
    width           : 95%;
    background-color: white;

    .canvas {
        border-radius   : 5rpx;
        background-color: white;
        display         : flex;
        flex-direction  : column;
        justify-content : center;
        align-items     : center;
        width           : 100%;
        height          : 200px;
    }

}

.headt {
    font-size: 30rpx;
    padding  : 10rpx;
}

.headtn {
    font-size: 40rpx;
    padding  : 10rpx;
    color    : rgb(12, 202, 128);
}

.heado {
    font-size: 20rpx;
    opacity  : 0.7;
}

.classify {
    width           : 95%;
    background-color: white;
    margin-left     : 2.5%;
    margin-top      : 30rpx;
    border-radius   : 15rpx;

    .cltitle {
        font-size     : 30rpx;
        padding-top   : 20rpx;
        padding-left  : 20rpx;
        border-bottom : 2rpx solid rgb(245, 245, 245);
        padding-bottom: 15rpx;
    }

    .clfor {
        width         : 100%;
        margin-left   : 20rpx;
        display       : flex;
        flex-direction: row;
        align-items   : center;
        margin-top    : 20rpx;
        margin-bottom : 20rpx;

        .clfor_img {
            .clfor_img_ {
                width : 75rpx;
                height: 75rpx;
            }
        }

        .clfor_imf {
            .clfor_imf_ {
                display       : flex;
                flex-direction: row;
                align-items   : center;
                margin-top    : 10rpx;
                margin-bottom : 10rpx;

                .classify_num {
                    margin-left: 20rpx;
                }
            }

            .clfor_imf_pro {
                margin-top   : 10rpx;
                margin-bottom: 10rpx;
            }
        }

        .clfor_price {
            position : absolute;
            left     : 70%;
            font-size: 40rpx;
            padding  : 10rpx;
            color    : rgb(12, 202, 128);
        }
    }
}


.orderlist {
    width: 100%;

    .orderlistfor {
        width           : 95%;
        height          : 250rpx;
        background-color: white;
        margin-right    : 2.5%;
        margin-left     : 2.5%;
        margin-top      : 25rpx;
        border-radius   : 15rpx;

        .orderlistforitem {
            width         : 100%;
            height        : 100%;
            display       : flex;
            flex-direction: row;
            align-items   : center;

            .picx {
                width        : 210rpx;
                height       : 210rpx;
                margin-left  : 30rpx;
                border-radius: 15rpx;
                overflow     : hidden;

                .picx_img {
                    width           : 210rpx;
                    height          : 210rpx;
                    background-color: antiquewhite;
                }
            }

            .nav {
                position: absolute;
                right   : 50rpx;
                width   : 50rpx;
                height  : 50rpx;

                .nav_icon {
                    width : 50rpx;
                    height: 50rpx;
                }
            }

            .detail {
                margin-left    : 25rpx;
                display        : flex;
                flex-direction : column;
                height         : 210rpx;
                justify-content: center;

                .hh {
                    display: flex;

                    flex-direction: row;
                    align-items   : center;

                    .tit {
                        font-size: 35rpx;
                    }

                    .mode {
                        position     : absolute;
                        right        : 75rpx;
                        width        : 120rpx;
                        height       : 35rpx;
                        font-size    : 25rpx;
                        border       : 5rpx solid antiquewhite;
                        border-radius: 15rpx;
                        opacity      : 0.5;
                        text-align   : center;
                    }
                }


                .other {
                    margin-top    : 10rpx;
                    flex-direction: column;
                    display       : flex;

                    .place {
                        display       : flex;
                        flex-direction: row;
                        font-size     : 25rpx;
                        align-items   : center;

                        .placetext {
                            opacity    : 0.7;
                            margin-left: 15rpx;
                        }
                    }

                    .time {
                        margin-top    : 5rpx;
                        display       : flex;
                        flex-direction: row;
                        font-size     : 25rpx;
                        align-items   : center;

                        .timetext {
                            opacity    : 0.7;
                            margin-left: 15rpx;
                        }
                    }

                    .num {
                        margin-top    : 5rpx;
                        display       : flex;
                        flex-direction: row;
                        font-size     : 25rpx;
                        align-items   : center;

                        .numtext {
                            opacity    : 0.7;
                            margin-left: 15rpx;
                        }
                    }

                    .price {
                        margin-top    : 5rpx;
                        display       : flex;
                        flex-direction: row;
                        font-size     : 25rpx;
                        align-items   : center;

                        .pricetext {
                            opacity    : 0.7;
                            margin-left: 15rpx;
                        }
                    }
                }
            }
        }
    }
}

.acticon {
    width : 30rpx;
    height: 30rpx;
}